@font-face {
    font-family: Encode-light;
    src: url('../fonts/static/EncodeSansSC/EncodeSansSC-Regular.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
}

.head {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo nav";
    font-family: Encode-light;
}

.logo {
    grid-area: logo;
    margin-left: 3em;
}

.navBar {
    grid-area: nav;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navBar>li {
    margin-top: 3em;
    padding-right: 3em;
}

.navBar>li>p {
    cursor: pointer;
}

.contenu {
    display: none;
}

.activeContenu {
    display: block;
}

.activeTabs {
    color: #83b5a7;
}

.tabs {
    margin-left: 20px;
}

.link {
    text-decoration: none;
}

main {
    overflow-x: hidden;
}

@media screen and (max-width: 480px) {
    .head {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        margin-left: unset;
        height: 150px;
        width: 150px;
    }
    .navBar {
        margin-top: -30px;
    }
    nav {
        height: 70px;
    }
}