.home {
    width: 100vw;
    margin-left: 5rem;
    font-size: 2.5rem;
}

.home>h1 {
    font-family: Roboto-Regular;
    color: #a3c3e9;
}

.home>p {
    font-size: 1.5rem;
    color: #a0a0a0;
}

.form {
    background: #ffffff;
    height: 55px;
    width: 550px;
    display: flex;
    margin-left: 7rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 48px;
}

.inputForm {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1.5rem;
    opacity: 0.5;
    margin-left: 30px;
}

.inputForm:focus {
    outline: none;
}

.buttonForm {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.buttonForm:focus {
    outline: none;
}

.loupe {
    max-height: 42px;
    max-width: 42px;
    background: #37c278;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.result {
    width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    margin-left: 6px;
    margin-right: 6px;
}

.card>img {
    max-width: 600px;
    max-height: 600px;
    cursor: pointer;
}

.username {
    opacity: 0.5;
}

.nextPrevButton {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nextPrevButton>button {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.arrow {
    cursor: pointer;
    height: 36px;
    width: 36px;
}

.page {
    font-size: 2rem;
    color: #354b45;
    margin-left: 5px;
    margin-right: 5px;
}